# CUESTIÓN 1.	Machine Learning con Python

-En un DataLake (explica qué es) selecciona una fuente de datos. Dataset o similar, en csv, json…

Un data lake es un entorno de datos compartidos en su formato original que comprende múltiples repositorios y aprovecha las tecnologías de big data.
Un data lake es un repositorio de almacenamiento que contienen una gran cantidad de datos en bruto y que se mantienen allí hasta que sea necesario. El data lake todavía no tiene una finalidad definida. A diferencia de un data warehouse jerárquico que almacena datos en ficheros o carpetas, un data lake utiliza una arquitectura plana para almacenar los datos.

In [1]:
import pandas as pd
from seaborn import load_dataset

"""

Utilizando Jupyter crea un notebook que permita acceder a la fuente de datos anterior 
y comprueba que estás mostrando los 10 primeros registros.

"""

dataSet=pd.read_csv("https://raw.githubusercontent.com/ernesto106/HitoIndividual2-SGE_Ernesto/main/vgsales.csv")
df = pd.DataFrame(dataSet)

df.head(10)

  Rank ;Platform ;Year ;Genre ;Publisher
0           1;Wii ;2006;Sports ;Nintendo
1         2;NES ;1985;Platform ;Nintendo
2           3;Wii ;2008;Racing ;Nintendo
3           4;Wii ;2009;Sports ;Nintendo
4      5;GB ;1996;Role-Playing ;Nintendo
5            6;GB ;1989;Puzzle ;Nintendo
6          7;DS ;2006;Platform ;Nintendo
7             8;Wii ;2006;Misc ;Nintendo
8         9;Wii ;2009;Platform ;Nintendo
9         10;NES ;1984;Shooter ;Nintendo

In [4]:
"""
El método describe devuelve información estadística de los datos del dataframe o de la serie. 
Esta información incluye el número total de valores, el valor medio, la desviación estándar, el primer dato, cabecera, 
el valor mínimo, máximo, la mediana, los valores correspondientes a los percentiles 25% y 75%.
"""
df.describe()

       Rank ;Platform ;Year ;Genre ;Publisher
count                                   16598
unique                                  16598
top              1;Wii ;2006;Sports ;Nintendo
freq                                        1

In [5]:

"""
Este método imprime un resumen conciso sobre un DataFrame, 
incluido el tipo de índice y los tipos de columna, los valores no nulos y el uso de memoria.

"""

df.info

<bound method DataFrame.info of       Rank ;Platform ;Year ;Genre ;Publisher
0               1;Wii ;2006;Sports ;Nintendo
1             2;NES ;1985;Platform ;Nintendo
2               3;Wii ;2008;Racing ;Nintendo
3               4;Wii ;2009;Sports ;Nintendo
4          5;GB ;1996;Role-Playing ;Nintendo
...                                      ...
16593        16596;GBA ;2002;Platform ;Kemco
16594     16597;GC ;2003;Shooter ;Infogrames
16595     16598;PS2 ;2008;Racing ;Activision
16596        16599;DS ;2010;Puzzle ;7G//AMES
16597      16600;GBA ;2003;Platform ;Wanadoo

[16598 rows x 1 columns]>